.card-list {
    display: flex;
    justify-self: center;
    gap: 10%;
    margin-block: 30px;
    padding: 10px;
    width: 60%;
    height: 150px;
    background-color: var(--gray);
    border-radius: 5px;
}

.card-list img {
    width: 20%;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 5px;
}

.card-list p {
    width: 20%;
}

.card-grid {
    width: 80%;
}

.card-grid img {
    object-fit: cover;
    border-radius: 5px;
}